/* Main App Styles */
.label-title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333; /* Dark gray color */
}

.button-green {
    -fx-background-color: #2ecc71; /* Green color */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}

.button-blue {
    -fx-background-color: #3498db; /* Blue color */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}

.button-red {
    -fx-background-color: #e74c3c; /* Red color */
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}

.label-message {
    -fx-font-size: 14px;
    -fx-text-fill: green;
}

.button-green:hover {
    -fx-background-color: #27ae60; /* Slightly darker green on hover */
}

.button-blue:hover {
    -fx-background-color: #2980b9; /* Slightly darker blue on hover */
}

.button-red:hover {
    -fx-background-color: #8a0b0b; /* Slightly darker red on hover */
    -fx-scale-x: 1.1;              /* Slightly scale up on hover */
    -fx-scale-y: 1.1;
}